---
#region: us-west-1
_instance_tags_to_propagate:
  - 'Name'

_volume_tags_to_propagate:
  - 'Name'
  - 'instance_id'
  - 'device'

_volume_tags_to_be_set:
  -  key:   'role'
     value: 'ebs'

_snapshot_tags_to_be_set:
  -  key:   'role'
     value: 'ebs_snapshot'

_instance_filter:
# Filter values with the same key (eg, tag:app) are an OR
# Different filter keys are an AND operation (eg, tag:app and tag:team)
# See the Filter section in http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html#API_DescribeInstances_RequestParameters
# Example entries:
#    'tag:app':   ['app1', 'app2']
#    'tag:team': 'team1'

_volumes_to_tag:
# An empty list means tag all volumes
# Example entries:
#  - 'vol-1ab2c345'
#  - 'vol-6de7f890'

_snapshots_to_tag:
# An empty list means tag all snapshots
# Example entries:
#  - 'snap-12ab3c45'
#  - 'snap-6de7f890'
